{% extends "defaultLayout.html" %}

<head>
    {% block title %} Noticias {% endblock %}
</head>

<body>

	{% block content %}

	<div class="container.fluid content-section">

		<div class="row">
			<h2 class="text-uppercase text-center">Notícias</h2>
		</div>

		<div class="row">

			<div class="col-md-6">
				<div>
					<center>
						<iframe class="video-padrao" src="https://www.youtube.com/embed/trfuqjFx_XE"></iframe>
					</center>
				</div>

				<h2>Djonga lança seu primeiro clipe do seu último álbum chamado Ladrão</h2>
				<p class="alinhar-texto">Segundo contribuintes do site <a href="https://genius.com/Djonga-hat-trick-lyrics target="_blank"">Genius</a>, a música passa o seguinte significado: "Hat-Trick fala sobre racismo, 
				empoderamento do povo negro, a ascensão de artista através da música e sua convivência em seu meio na perspectiva de alguém que superou dificuldades e escalou 
				socialmente através da arte. Na linguagem esportiva, hat-trick remete a realizar um tento repetidas vezes na mesma partida. No futebol, esporte mais popular no mundo 
				e ao qual Djonga se refere, significa um jogador marcar três gols em uma única partida. A expressão evoca ao feito do rapper nos três últimos anos: três álbuns 
				consecutivos, lançados na mesma data. Heresia em 2017 & O Menino que Queria ser Deus em 2018—melhor álbum de rap ano no Prêmio Genius Brasil—, e agora forma a trilogia 
				com Ladrão."</p>
			</div>

			<div class="col-md-6">
				<div>
					<center>
					<img class="img-padrao" src="../static/img/raffaFoto2.jpg" alt="fotoRaffa"
					</center>
				</div>

				<h2 class="alinhar-texto">A Odisseia Raffa Moreira, Quadro em Branco nos desafia novamente para ter um pensamento mais aprofundado sobre o cenário.</h2>
				<p class="alinhar-texto">Não é novidade para ninguém que Raffa Moreira é uma das personalidades mais aclamadas e criticas ao mesmo tempo, Quadro Branco(Henrique Jacks) em seu 
				novo video nos apresenta um pouco de seu pensamento e de outros Rappers do cenário sobre o assunto.</p>
				<a href="https://www.youtube.com/watch?v=ECIbmhxdv00 target="_blank"">Na integra</a></p>
			</div>

            <div class="col-md-6">
				<div>
					<center>
					<img class="img-padrao" src="../static/img/sidokaFoto.jpg" alt="fotoSidoka">
					</center>
				</div>

				<h2>Matéria da VICE: Sidoka</h2>
				<p class="alinhar-texto">Depois de brilhar em participação no disco do Djonga, o jovem rapper lança som novo e promete disco novo e mais uma rajada de lançamentos.</p>
				<p class="alinhar-texto">Aos 18 anos e tido como uma das revelações do rap nacional neste ano, o mineiro Sidoka continua roubando a cena a cada lançamento e colaboração.
				Ele ganhou um grande destaque com seu feat em "UFA", faixa integrante do álbum O Menino Que Queria Ser Deus do Djonga, e desde então vem fazendo jus ao reconhecimento que
				as suas barras nesse som trouxeram.</p>
				<p>Confira matéria completa <a href="https://www.vice.com/pt_br/article/zmkmpy/sidoka-e-a-cara-do-novo-rap-mineiro target="_blank"">AQUI</a></p>
			</div>



			<div class="col-md-6">
				<div>
					<center>
					<iframe class="video-padrao" src="https://www.youtube.com/embed/jK2k1P56Cno"></iframe>
					</center>
				</div>

				<h2>E lá vamos nós novamente, lança Poesia Acústica #6 - Era Uma Vez</h2>
				<p class="alinhar-texto">Dessa vez a música conta com: Mc Cabelinho, MODE$TIA, Bob, Azzy, Filipe Ret, Dudu e X</p>
				<a href="https://www.youtube.com/watch?v=jK2k1P56Cno target="_blank"">Ouça por sua conta e risco</a></p>
			</div>


		</div>
	</div>

    {% endblock %}

</body>
</html>