{% extends "defaultLayout.html" %}

<head>
    {% block title %} Top Artistas {% endblock %}
</head>

<body>

    {% block content %}

	<table class="listaArtistas">

        <tbody>

            <tr class="linhaTipo3">
                <td width=10%>Posição</td>
                <td width=90%>Artista</td>
            </tr>

            <tr class="linhaTipo1">
                <td>1</td>
                <td><a href="https://www.youtube.com/channel/UCNVifsYkXq5yzylNGvi1JJA" target="_blank">Djonga</a></td>
            </tr>

            <tr class="linhaTipo1">
                <td>2</td>
                <td><a href="https://www.youtube.com/channel/UCNVifsYkXq5yzylNGvi1JJA" target="_blank">Sidoka</a></td>
            </tr>

            <tr class="linhaTipo1">
                <td>3</td>
                <td><a href="https://www.youtube.com/channel/UC__z2DsFoNDdWx1vRne7PSg" target="_blank">Baco Exu do Blues</a></td>
            </tr>

            <tr class="linhaTipo1">
                <td>4</td>
                <td><a href="https://www.youtube.com/channel/UCNVifsYkXq5yzylNGvi1JJA" target="_blank">BK</a></td>
            </tr>

            <tr class="linhaTipo1">
                <td>5</td>
                <td><a href="https://www.youtube.com/channel/UCNVifsYkXq5yzylNGvi1JJA" target="_blank">Dfideliz</a></td>
            </tr>

            <tr class="linhaTipo1">
                <td>6</td>
                <td><a href="https://www.youtube.com/channel/UCNVifsYkXq5yzylNGvi1JJA" target="_blank">BC Raffa</a></td>
            </tr>

            <tr class="linhaTipo1">
                <td>7</td>
                <td><a href="https://www.youtube.com/channel/UCe50QVVNmssbxsuddzSkxEg" target="_blank">Froid</a></td>
            </tr>

            <tr class="linhaTipo1">
                <td>8</td>
                <td><a href="https://www.youtube.com/channel/UC3c-fJXbZ0decZvTp80LQOw" target="_blank">Jé Santiago</a></td>
            </tr>

            <tr class="linhaTipo1">
                <td>9</td>
                <td><a href="https://www.youtube.com/channel/UCvoWJPM95HZ7pT-HxpQ8FMw" target="_blank">Duzz</a></td>
            </tr>

            <tr class="linhaTipo1">
                <td>10</td>
                <td><a href="https://genius.com/artists/Sant" target="_blank">Sant</a></td>
            </tr>

            </tbody>

    {% endblock %}

</body>
</html>