{% extends "defaultLayout.html" %}

<head>
    {% block title %} Top Musicas {% endblock %}
</head>

<body>

    {% block content %}

	<table class="listaMusicas">
		<tbody>

			<tr class="linhaTipo3">
				<td width=6%>Posição</td>
				<td width=30>Música</td>
				<td width=30%>Artista</td>
				<td width=7%>Ano</td>
				<td width=7%>Views</td>
			</tr>

			<tr class="linhaTipo1">
				<td>1</td>
				<td>T.R.N.S.F.R.M.S</td>
				<td>Froid</td>
				<td>2019</td>
				<td>518K</td>
			</tr>

			<tr class="linhaTipo1">
				<td>2</td>
				<td>Sorry Mom</td>
				<td>Duzz ft. BC Raff</td>
				<td>2019</td>
				<td>1.4M</td>
			</tr>

			<tr class="linhaTipo1">
				<td>3</td>
				<td>Hat-Trick</td>
				<td>Djonga</td>
				<td>2019</td>
				<td>715K</td>
			</tr>

			<tr class="linhaTipo1">
				<td>4</td>
				<td>Clima Quente</td>
				<td>Jovem Dex</td>
				<td>2019</td>
				<td>904K</td>
			</tr>

			<tr class="linhaTipo1">
				<td>5</td>
				<td>Obrigado, Mãe</td>
				<td>Dfideliz</td>
				<td>2019</td>
				<td>4.5M</td>
			</tr>

			<tr class="linhaTipo1">
				<td>6</td>
				<td>Plaqtudum</td>
				<td>Recayd Mob</td>
				<td>2018</td>
				<td>49M</td>
			</tr>

			<tr class="linhaTipo1">
				<td>7</td>
				<td>VVS</td>
				<td>BC Raff</td>
				<td>2018</td>
				<td>2.2M</td>
			</tr>

			<tr class="linhaTipo1">
				<td>8</td>
				<td>Fases</td>
				<td>Aka Rasta</td>
				<td>2019</td>
				<td>716K</td>
			</tr>

			<tr class="linhaTipo1">
				<td>9</td>
				<td>Japão</td>
				<td>MC Igu</td>
				<td>2019</td>
				<td>3.8M</td>
			</tr>

			<tr class="linhaTipo1">
				<td>10</td>
				<td>Sommelier</td>
				<td>Sidoka</td>
				<td>2018</td>
				<td>351K</td>
			</tr>

		</tbody>

        {% endblock %}

</body>
</html>