{% extends "defaultLayout.html" %}

{% block content %}

    <div class="col-md-6 col-md-offset-3 container.fluid">
        <div class="col-md-offset-4 row">
            <img class="img-circle account-img" src="{{ image_file }}">
            <div>
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
    </div>

  <h1>User: {{ user.username }}</h1>
  <hr>
  {% for post in posts %}
      {% include 'userPosts.html' %}
  {% endfor %}
{% endblock %}